.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  height: 500px;
  width: 250px;
}
.input {
  height: 30%;
  width: 90%;
  
  border: 1px solid black;
}
button {
  width: 40px;
  height: 35px;
  border-radius: 50px;
  font-size: 20px;
  
}
.cont{
  display: flex;
}
.equalto {
  height: 82px;
  margin-bottom: 28px;
}

.lastcol {
  display: flex;
 
}
.lastcol > button {
  margin: 5px;
}
.yellow {
  background-color: #f2c54e;
  color: white;
}
.light-yellow {
  background-color: #f3ede3;
}

.light-purple {
  background-color: #e0d5e9;
}
.purple {
  background-color: #872edc;
  color: white;
}
.white {
  background-color: #fcfbfc;
  
}

.black {
  background-color: #3f4444;
  
}
.black>.input{
  color: white;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.sameline{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
